{% extends 'base.html' %}

{% block All Boks %}

{% endblock %}

{% block main_content %}
  <div class="container mx-auto mt-3">
    <div class="header-text">
      <div class="flex justify-between items-center my-3">
        <h1 class="font-bold text-xl">Most Popular Books</h1>
      </div>
    </div>

    <div class="">
      <div class="grid grid-cols-2 md:grid-cols-12 sm:gap-5 gap-2 my-5">
        {% if all_books %}
          {% for book in all_books %}
            <div class="col-span-1 sm:col-span-3 lg:col-span-2 hover:drop-shadow-lg" id="card-wrap">
              <div id="card" class="card card-compact bg-base-100 shadow-xl">
                <figure onclick="window.location.href = '{% url 'book_detail' book.id %}'">
                  <img id="img" src="{{ book.book_image.url }}" alt="Book" />
                </figure>
                <div class="card-body">
                  <h2 class="text-2xl leading-none">{{ book.title|truncatewords:3 }}</h2>
                  <p class="leading-none ml-2 text-lg italic">
                    by <a class="hover:not-italic" href="">{{ book.author }}</a>
                  </p>
                  <div class="card-text text-center">
                    <p>{{ book.description|truncatechars:50 }}</p>
                    <h3 title="Now Borrow Price Tk. " class="flex items-center justify-end mr-4"><span class="line-through italic text-base">TK. {{ book.borrow_price }}</span><span class="ml-1 hover:italic text-xl font-semibold">{{ book.now_price }}</span></h3>
                  </div>

                  <div id="card-actions" class="card-actions justify-end">
                    <button onclick="my_modal_4.showModal()" class="btn btn-xs sm:btn-md btn-outline">Read</button>
                    <button onclick="window.location.href = '{% url 'book_detail' %}'" class="btn btn-xs sm:btn-md btn-primary">Details</button>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <p>Now Available Books Right Now</p>
        {% endif %}
      </div>
    </div>
    {% include 'weekly_authors.html' %}
  </div>
{% endblock %}
