{% load static %}
<script src="https://kit.fontawesome.com/24f4200f37.js" crossorigin="anonymous"></script>
<body style="background-color: #FEF2F2; font-family: Arial, sans-serif;">
  <div style="width: 25%; margin: 2.5rem auto; border: 1px solid #ccc; padding: 1.25rem;">
    <div class="body">
      <h3 style="font-size: 1.25rem; font-weight: bold;">Thanks for your {{ title }}</h3>
      <h4 style="font-size: 1.5rem; font-weight: bold; ">Hello, {{ user.first_name }}</h4>
      {% if title == 'Deposit' %}
        <h5>We are delighted to inform you that your {{ title }} transaction of {{ amount }} has been successfully processed. Now, your total balance is {{ user.account.balance }}<br />Thank you for being with us.</h5>
      {% elif title == 'Borrow book' %}
        <h5>We are delighted to inform you that your {{ title }} has been successfully processed and Thanks for borrowing this book. Now, your total balance is {{ user.account.balance }}<br />Thank you for being with us.</h5>
      {% elif title == 'Return' %}
        <h5>We are delighted to inform you that your book {{ title }} has been successfully processed and Thanks for return this book. Now, your total balance is {{ user.account.balance }}<br />Thank you for being with us.</h5>
      {% endif %}
    </div>
    <div class="footer" style="text-align: center; ">
      <h6 style="font-size: 1.25rem; font-weight: bold; color: #2563EB;">Team Our Library</h6>
      <h4 style="font-weight: bold; font-family: monospace; font-style: italic;">The Library that values your dreams.</h4>
      <div style="display: flex; gap: 1.25rem; justify-content: center; align-items: center; text-align: center;">
        <i class="fa-brands fa-square-facebook fa-lg"></i>
        <i class="fa-brands fa-linkedin fa-lg"></i>
        <i class="fa-brands fa-square-github fa-lg"></i>
      </div>
      <div class="address">
        <h6>Web: <a style="text-decoration: none; " href="http://127.0.0.1:8000/">ourlibrary.com</a> | Phone: <a style="text-decoration: none;" href="tel:+8801700899875">+8801700899875</a></h6>
        <h6>Address: Bashbari, Mohammadpur, Dhaka, Bangladesh</h6>
      </div>
    </div>
  </div>
</body>
