<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}

      {% endblock %}
    </title>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>

    <script src="https://kit.fontawesome.com/24f4200f37.js" crossorigin="anonymous"></script>

    <style>
      #img:hover {
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <header>
      {% include 'navbar.html' %}
      {% if messages %}
        {% for m in messages %}
          <div role="alert" class="alert alert-success sm:container sm:mx-auto my-5">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <span>{{ m }}</span>
          </div>
        {% endfor %}
      {% endif %}
      {% block hero %}

      {% endblock %}
    </header>
    <main>
      {% block main_content %}

      {% endblock %}
    </main>
    {% include 'footer.html' %}
  </body>
</html>
